service: ats-integration-microservice
useDotenv: true

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  stage: dev
  environment:
    SUPABASE_URL: ${env:SUPABASE_URL}
    SUPABASE_KEY: ${env:SUPABASE_KEY}

functions:
  getJobs:
    handler: handler.get_jobs
    events:
      - http:
          path: jobs
          method: get
          cors: true

  createCandidate:
    handler: handler.create_candidate
    events:
      - http:
          path: candidates
          method: post
          cors: true

  getApplications:
    handler: handler.get_applications
    events:
      - http:
          path: applications
          method: get
          cors: true

plugins:
  - serverless-offline
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: non-linux
